<!DOCTYPE html>
<html>
<head>
    <title>Space Server</title>
    <link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.css">
    <script src="../static/javascript/jquery-1.11.1.min.js"></script>
  <script src="../static/media/mespeak/mespeak.js"></script>
    <script src="../static/javascript/socketio.min.js"></script>
    <script type="text/javascript">
      meSpeak.loadConfig("static/media/mespeak/mespeak_config.json");
      meSpeak.loadVoice("static/media/mespeak/voices/en-us.json");
       if (typeof String.prototype.startsWith != 'function') {
  // see below for better implementation!
  String.prototype.startsWith = function (str){
    return this.indexOf(str) == 0;
  };
}
    var navigationsLoggedIn = "no";
    var navigationsName = "Not Logged In";
    var sayTranswarp = false;
    var socket = io.connect('http://' +window.location.hostname+ ':' +window.location.port+ '/main');
        function signOut() {
        location.href = ('index.html')
        }
        function showSomething(id) {
        document.getElementById(id).style.display = 'block';
        }
        function hideSomething(id) {
        document.getElementById(id).style.display = 'none';
        }
        function sendCourse() {
          socket.send("precoursefd")
          socket.send("xcoordinatefd: " + document.getElementById('xcoordinatefd').value)
          socket.send("ycoordinatefd: " + document.getElementById('ycoordinatefd').value)
          socket.send("zcoordinatefd: " + document.getElementById('zcoordinatefd').value)
        }
        function start() {
          hideSomething('shipstarted')
          hideSomething('transwarpbutton1')
          hideSomething('transwarpbutton2')
          hideSomething('transwarpbutton3')
          showSomething('weaponsfire')
        }
      function authorizeTranswarp() {
        socket.send("speedchange: tauthorized")
      }
      function deauthorizeTranswarp() {
        socket.send("speedchange: -t")
      }
      function stopTranswarp(){
        socket.send("speedchange: -t")
      }
        socket.on('message', function(data) {
        console.log(data);
        if(data == "connected") {
        showSomething('shipstarted');
        }
        if(data.startsWith("navigationstaken: ")) {
        navigationsLoggedIn = "yes";
          document.getElementById('navigationsname').value = data.replace("navigationstaken: ", "");
          navigationsName = data.replace("navigationstaken: ", "");
        }
          if(data.startsWith("thruster: ")) {
            document.getElementById('thrusterarrow').src = data.replace("thruster: ", "../static/media/");
            setTimeout("showSomething('thrusterarrow')", 100);
            setTimeout("hideSomething('thrusterarrow')", 300);
            meSpeak.speak("Thruster fired.");
          }
          if(data.startsWith("coursescan: ")){
            document.getElementById('navigationscoursescan').value = data.replace("coursescan: ", "");
            meSpeak.speak("Scanning for course.");
          }
          if(data == "cancelcoursescan"){
            document.getElementById('navigationscoursescan').value = "";
            meSpeak.speak("Cancelled course scan.");
          }
          if(data == "precourse"){
            document.getElementById('xcoordinate').value = "";
            document.getElementById('ycoordinate').value = "";
            document.getElementById('zcoordinate').value = "";
          }
          if(data.startsWith("xcoordinate: ")){
            document.getElementById('xcoordinate').value = data.replace("xcoordinate: ", "");
          }
          if(data.startsWith("ycoordinate: ")){
            document.getElementById('ycoordinate').value = data.replace("ycoordinate: ", "");
          }
          if(data.startsWith("zcoordinate: ")){
            document.getElementById('zcoordinate').value = data.replace("zcoordinate: ", "");
            meSpeak.speak("Course set.");
          }
          if(data.startsWith("precoursefd")) {
            document.getElementById('xcoordinatefd').value = "";
            document.getElementById('ycoordinatefd').value = "";
            document.getElementById('zcoordinatefd').value = "";
            cancelScanForCourse()
          }
          if(data.startsWith("xcoordinatefd: ")) {
            document.getElementById('xcoordinatefd').value = data.replace("xcoordinatefd: ", "");
          }
          if(data.startsWith("ycoordinatefd: ")) {
            document.getElementById('ycoordinatefd').value = data.replace("ycoordinatefd: ", "");
          }
          if(data.startsWith("zcoordinatefd: ")) {
            document.getElementById('zcoordinatefd').value = data.replace("zcoordinatefd: ", "");
          }
          if(data.startsWith("speedchange: w")) {
            document.getElementById('warplabel').innerHTML = data.replace("speedchange: w", "");
            warp = data.replace("speedchange: w", "");
            if(warp != "0"){
            meSpeak.speak("Speed change, warp " + warp);
              sayTranswarp = false;
            }
          }
          if(data.startsWith("speedchange: i")){
            document.getElementById('impulselabel').innerHTML = data.replace("speedchange: i", "");
            impulse = data.replace("speedchange: i", "");
            if(impulse != "0"){
            meSpeak.speak("Speed change, impulse " + impulse);
              sayTranswarp = false;
            }
          }
          if(data == "speedchange: f"){
            sayTranswarp = false;
            meSpeak.speak("Speed change, fullstop");
          }
          if(data == "speedchange: t"){
            document.getElementById('transwarplabel').innerHTML = "Authrorizing";
            showSomething('transwarpbutton1')
            showSomething('transwarpbutton3')
            meSpeak.speak("Transwarp authorization request.");
            sayTranswarp = true;
          }
          if(data == "speedchange: tauthorized"){
            document.getElementById('transwarplabel').innerHTML = "Activated";
            hideSomething('transwarpbutton1')
            hideSomething('transwarpbutton3')
            showSomething('transwarpbutton2')
            meSpeak.speak("Transwarp activated.");
            sayTranswarp = true;
          }
          if(data == "speedchange: -t"){
            document.getElementById('transwarplabel').innerHTML = "Not Active";
            hideSomething('transwarpbutton1')
            hideSomething('transwarpbutton2')
            hideSomething('transwarpbutton3')
            setTimeout("if(sayTranswarp){meSpeak.speak('Transwarp deactivated.');sayTranswarp = false;}", 100);
          }
        });
    </script>
</head>


<body onload="start()">
  <div style="margin: 10px;">
    <div id="shipstarted" class="alert alert-dismissable alert-success">
        <button type="button" class="close" onclick="hideSomething('shipstarted')">X</button>
        <strong>Ship Has Been Started</strong>
        <p>The server has been started and the rest of the ship is now functional.</p>
    </div>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="flight-director.html">Flight Director Voice</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="flight-director-voice.html">General</a></li>
      <li class="active"><a href="flight-director-navigations-voice.html">Navigations</a></li>
      <li><a href="flight-director-operations-voice.html">Operations</a></li>
      <li><a href="flight-director-tactical-voice.html">Tactical</a></li>
      <li><a href="flight-director-engineering-voice.html">Engineering</a></li>
      <li><a href="flight-director-admiral-voice.html">Admiral</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" onclick="signOut()">Sign Out</a></li>
    </ul>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for="disabledInput">Navigations Name</label>
  <input id="navigationsname" class="form-control" id="disabledInput" placeholder="" disabled="" type="text">
</div>
  <br>
  <p>Navigations Scanning For Course</p>
  <textarea class="form-control" rows="3" id="navigationscoursescan" style="width: 500px" disabled=""></textarea>
  <div id="coordinates" style="margin: 10px; width: 200px;">
    <p>Return Course</p>
  <label class="control-label" for="disabledInput">X:</label>
  <input class="form-control" id="xcoordinatefd" type="text">
<br>
  <label class="control-label" for="disabledInput">Y:</label>
  <input class="form-control" id="ycoordinatefd" type="text">
<br>
  <label class="control-label" for="disabledInput">Z:</label>
  <input class="form-control" id="zcoordinatefd" type="text">
   <br>
    <a onclick="sendCourse()" class="btn btn-primary">Send Course To Navigations</a>
  </div>
  <div id="coordinates" style="margin: 10px; width: 200px;">
    <p>Navigations Course</p>
  <label class="control-label" for="disabledInput">X:</label>
  <input class="form-control" id="xcoordinate" disabled="" type="text">
<br>
  <label class="control-label" for="disabledInput">Y:</label>
  <input class="form-control" id="ycoordinate" disabled=""type="text">
<br>
  <label class="control-label" for="disabledInput">Z:</label>
  <input class="form-control" id="zcoordinate" disabled="" type="text">
  </div>
  <ul class="nav nav-pills">
  <li><a>Warp <span class="badge" id="warplabel">0</span></a></li>
  <li><a>Impulse <span class="badge" id="impulselabel">0</span></a></li>
  <li class="active"><a>Transwarp <span class="badge" id="transwarplabel">Not Active</span></a></li>
</ul>
  <br>
  <a onclick="authorizeTranswarp()" class="btn btn-danger" id="transwarpbutton1">Authorize Transwarp</a>
  <a onclick="deauthorizeTranswarp()" class="btn btn-warning" id="transwarpbutton3">Deauthorize Transwarp</a>
  <a onclick="stopTranswarp()" class="btn btn-info" id="transwarpbutton2">Stop Transwarp</a>
  <br>
  <p>Thrusters</p>
  <div style="background-color: #FFFFFF; width: 22px; height: 22px;">
   <img id="thrusterarrow"> 
  </div>
  </div>
</body>
</html>